
@{
    Layout = null;
    @model AccountLinkViewModel
}

<div class="cd-block">
    @if (Model.Image == null)
    {
        <img src="~/imgs/person.jpg" alt="" class="avatar">
    }
    else
    {
        <img src="@Url.Action("GetFile", "Account", new { id = Model.Image.Id, type = Model.Image.Type })" alt="" class="avatar" />
    }
    @Html.ActionLink(Model.Surname + " " + Model.Name, "Browse", "Account", new { UserId = Model.UserId }, null)
</div>

<style>

    .avatar {
        width: 30px;
        height: 30px;
        border-radius: 15px;
    }

    .cd-block {
        margin: 12.5px 25px;
        padding: .5rem .1rem;
        display: inline-block;
        max-width: 20rem;
        height: auto;
        border: 1px solid #000;
        border-radius: 5px;
        text-align: center;
        background-color: antiquewhite;
    }

        .cd-block span {
            word-break: break-word;
        }
</style>
