<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - ProjectLab</title>

        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    </head>
    <body id="main-body">
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ProjectLab</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <partial name="_LoginPartial" />
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Idea" asp-action="Catalog">Идеи</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Project" asp-action="Catalog">Проекты</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container" id="main-container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2020 - ProjectLab - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @RenderSection("Scripts", required: false)
    </body>
</html>

<style>
    .footer{
        bottom: auto;
    }
    #main-body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 10px 0;
        background-image: url(https://localhost:44319/imgs/background.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center top;
        background-size: 100%;
    }
    #main-container {
        width: 100%;
        height: 50%;
    }
    .background {
        background-color: rgba(194, 223, 255, 0.81);
    }

     .card-wrapper {
        display: block;
        width: 100%;
        float: left;
        transition: width .2s;
    }

    @@media only screen and (min-width: 450px) {
        .card-wrapper {
            width: 50%;
        }
    }

    @@media only screen and (min-width: 768px) {
        .card-wrapper {
            width: 33.333%;
        }
    }

    @@media only screen and (min-width: 1000px) {
        .card-wrapper {
            width: 25%;
        }
    }

    .card {
        display: block;
        border: 1px solid royalblue;
        border-radius: 3px;
        position: relative;
        background-color: rgba(194, 223, 255, 0.81);
        margin: 0 20px 20px 0;
        text-decoration: none;
        z-index: 0;
    }

    .cards {
        list-style: none;
        margin: 0 -20px 0 0;
        padding: 0;
    }

    .card-photo {
        position: relative;
        padding-bottom: 100%;
        overflow: hidden;
    }

        .card-photo img {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            max-width: 100%;
            max-height: 100%;
            margin: auto;
            transition: transform .4s ease-out;
        }

    .card:hover .card-photo img {
        transform: scale(1.05);
    }

    .card h2 {
        font-size: 18px;
        text-align: center;
        color: royalblue;
        font-weight: bold;
        margin-top: 10px;
    }

    .card h3 {
        text-align: center;
        font-size: 16px;
        color: darkblue;
    }

    .card-btn-preview {
        position: relative;
        left: 50%;
        transform: translate(-50%, 300%);
        opacity: 0;
        vertical-align: middle;
    }

    .card:hover .card-btn-preview {
        opacity: 1;
    }

    .card-btn-public {
        position: relative;
        left: 50%;
        transform: translate(-50%, 0%);
        margin-bottom: 10px;
        width: 135px;
    }

    span {
        color: red;
    }
</style>

