
@{
    ViewData["Title"] = "Default";
    @model IdeaCardViewModel
}

    <div>
        <h2>@Model.Name</h2>
        <div class="card-photo">
            @if (Model.Image == null)
            {
                <img src="~/imgs/idea_image.jpg" alt="" />
            }
            else
            {
                <img src="@Url.Action("GetFile", "Idea", new { id = Model.Image.Id, type = Model.Image.Type })" alt="" />
            }
            <form method="get" asp-action="Browse" asp-controller="Idea">
                <input type="hidden" name="IdeaId" value="@Model.Id" />
                <button class="btn btn-primary card-btn-preview" type="submit">
                    Просмотр идеи
                </button>
            </form>
        </div>
        <h3>Направленность - @Model.Direction</h3>
        <h3>Автор</h3> @await Component.InvokeAsync("AccountLink", new { UserId = Model.AuthorId })
    </div>