@{
    ViewData["Title"] = "Архив проектов";
    @model IEnumerable<ProjectCardViewModel>
}

<ul class="cards clearfix">
    @foreach (var x in Model)
    {
        <li class="card-wrapper">
            <div class="card" style="height: 520px;">
                @await Component.InvokeAsync("ProjectCard", new { vm = x })
                <div class="label-danger">
                    <h2>Завершен</h2>
                </div>
            </div>
        </li>
    }
</ul>

