
@{
    ViewData["Title"] = "Browse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="background">
        <ul class="nav nav-tabs flex-column">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#generalinform">Общая информация</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#studyinform">Информация об исследовании</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#participants">Участники</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#comments">Комментарии</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="generalinform">

            </div>
            <div class="tab-pane fade" id="studyinform">

            </div>
            <div class="tab-pane fade" id="participants">

            </div>
            <div class="tab-pane fade" id="comments">

            </div>
        </div>
    </div>

