@{
    ViewData["Title"] = "Каталог проектов";
    @model IEnumerable<ProjectCardViewModel>
}

    <ul class="cards clearfix">
        @foreach (var x in Model)
        {
            <li class="card-wrapper">
                <div class="card">
                    @await Component.InvokeAsync("ProjectCard", new { vm = x })

                    @if (User.Identity.IsAuthenticated)
                    {
                        if (x.IsManager)
                        {
                            <div class="label-info">
                                <h2>Вы являетесь руководителем</h2>
                            </div>
                        }
                        else if (x.IsParticipant)
                        {
                            <div class="label-info">
                                <h2>Вы являетесь участником</h2>
                            </div>
                        }
                        else
                        {
                            @if (x.ProjectType == "Открытый")
                            {
                                @using (Html.BeginForm("Join", "Project", FormMethod.Post))
                                {
                                    <input type="hidden" name="ProjectId" value="@x.Id" />
                                    <button class="btn btn-primary card-btn-public" type="submit">
                                        Принять участие
                                    </button>
                                }
                            }
                            else
                            {
                                <div class="label-info">
                                    <h2>
                                        Проект закрытый. Участие по приглашению руководителя
                                    </h2>
                                </div>
                            }
                        }
                    }
                </div>
            </li>
        }
    </ul>

