@{
    ViewData["Title"] = "Каталог проектов";
    @model IEnumerable<ProjectCardViewModel>
}

    <ul class="cards clearfix">
        @foreach (var x in Model)
        {
            <li class="card-wrapper">
                <div class="card">
                    @await Component.InvokeAsync("ProjectCard", new { vm = x })
                    @if (!x.IsParticipant && x.ProjectType == "Открытый")
                    {
                        @using (Html.BeginForm("AddParticipant", "Project", FormMethod.Post))
                        {
                            <input type="hidden" name="ProjectId" value="@x.Id" />
                            <input type="hidden" name="UserId" value="@User.Identity.Name" />
                            <button class="btn btn-primary card-btn-public" type="submit">
                                Принять участие
                            </button>
                        }
                    }
                </div>
            </li>
        }
    </ul>

