@{
    ViewData["Title"] = "Edit";
    @model ProjectViewModel
}

@using (Html.BeginForm("Edit", "Project", FormMethod.Post))
{
    <div class="container form-style">
        <div class="row">
            <div class="col-sm-4">
                <label for="inputName">Название проекта:</label>
            </div>
            <div class="col-sm-8">
                <input class="form-control" id="inputName" name="Name" placeholder="Введите название" value="@Model.Name" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <label for="inputStart">Дата старта:</label>
            </div>
            <div class="col-sm-8">
                <input class="form-control" id="inputStart" name="Start" type="date" value="@Model.Start" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <label for="inputFinish">Дата окончания:</label>
            </div>
            <div class="col-sm-8">
                <input class="form-control" id="inputFinish" name="Finish" type="date" value="@Model.Finish" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <label for="inputDescription">Краткое описание:</label>
            </div>
            <div class="col-sm-8">
                <textarea class="form-control" id="inputDescription" name="Description"> @Model.Description </textarea>
            </div>
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Опубликовать</button>
}

<style>
    form {
        background-color: rgba(194, 223, 255, 0.81);
    }
</style>


