
@{
    ViewData["Title"] = "Проверка идей";
    Layout = "~/Views/Admin/AdminLayout.cshtml";
    @model  List<IdeaCardViewModel>
}

    <ul class="cards clearfix">
        @foreach (var x in Model)
        {
            <li class="card-wrapper">
                <div class="card" style="height: 540px;">
                    @await Component.InvokeAsync("IdeaCard", new { vm = x })

                    @using (Html.BeginForm("Review", "Idea", FormMethod.Get))
                    {
                        <input type="hidden" name="IdeaId" value="@x.Id" />
                        <button class="btn btn-primary card-btn-public" type="submit">
                            Оценить
                        </button>
                    }
                </div>
            </li>
        }
    </ul>

