@{
    ViewData["Title"] = "Каталог Идей";
    @model IEnumerable<IdeaCardViewModel>
}

@if (User.Identity.IsAuthenticated)
{
    @using (Html.BeginForm("Edit", "Idea", FormMethod.Get))
    {
        <button class="btn btn-primary" type="submit" style="margin-bottom: 4px;">
            <i class="fas fa-plus"></i>
            Новая идея
        </button>
    }
}

<ul class="cards clearfix">
    @foreach (var x in Model)
    {
        <li class="card-wrapper">
            <div class="card" style="height: 540px;">
                @await Component.InvokeAsync("IdeaCard", new { vm = x })

                @if (User.Identity.IsAuthenticated)
                {
                    @using (Html.BeginForm("Create", "Project", FormMethod.Get))
                    {
                        <input type="hidden" name="IdeaId" value="@x.Id" />
                        <button class="btn btn-primary card-btn-public" type="submit">
                            Опубликовать проект
                        </button>
                    }
                }
            </div>
        </li>
    }
</ul>


