@{
    ViewData["Title"] = "Конструктор идеи";
    @model IdeaEditViewModel
}

<div class="background">
<form asp-controller="Idea" asp-action="Edit" method="post" enctype="multipart/form-data">
    <div class="row form-style">
        <div class="col-sm-10">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#generalinform">Общая информация</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#studyinform">Информация об исследовании</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#projecttemplate">Шаблон проекта</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="generalinform">
                    <input asp-for="Id"/>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-3">
                                <label asp-for="IdeaType"></label>
                            </div>
                            <div class="col-sm-6">
                                <select class="form-control" asp-for="IdeaType">
                                    <option class="form-control">Открытая</option>
                                    <option class="form-control">Приватная</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <span asp-validation-for="IdeaType"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label asp-for="Name"></label>
                            </div>
                            <div class="col-sm-6">
                                <input class="form-control" asp-for="Name" />
                            </div>
                            <div class="col-sm-3">
                                <span asp-validation-for="Name"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label asp-for="Description"></label>
                            </div>
                            <div class="col-sm-6">
                                <textarea class="form-control" asp-for="Description"></textarea>
                            </div>
                            <div class="col-sm-3">
                                <span asp-validation-for="Description"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label>Изображение</label>
                            </div>
                            <div class="col-sm-6">
                                <input class="form-control" type="file" asp-for="FileImage" />
                            </div>
                            <div class="col-sm-3">
                                <span asp-validation-for="FileImage"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label asp-for="Video"></label>
                            </div>
                            <div class="col-sm-6">
                                <input class="form-control" asp-for="Video" />
                            </div>
                            <div class="col-sm-3">
                                <span asp-validation-for="Video"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="studyinform">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-3">
                                <label asp-for="DirectionId"></label>
                            </div>
                            <div class="col-sm-6">
                                <select class="form-control" asp-for="DirectionId"></select>
                            </div>
                            <div class="col-sm-3">
                                <span asp-validation-for="DirectionId"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label asp-for="Target"></label>
                            </div>
                            <div class="col-sm-6">
                                <input class="form-control" asp-for="Target"/>
                            </div>
                            <div class="col-sm-3">
                                <span asp-validation-for="Target"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label asp-for="Purpose"></label>
                            </div>
                            <div class="col-sm-6">
                                <input class="form-control" asp-for="Purpose" />
                            </div>
                            <div class="col-sm-3">
                                <span asp-validation-for="Purpose"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label asp-for="Equipment"></label>
                            </div>
                            <div class="col-sm-6">
                                <input class="form-control" asp-for="Equipment" />
                            </div>
                            <div class="col-sm-3">
                                <span asp-validation-for="Equipment"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label asp-for="Safety"></label>
                            </div>
                            <div class="col-sm-6">
                                <input class="form-control" asp-for="Safety" />
                            </div>
                            <div class="col-sm-3">
                                <span asp-validation-for="Safety"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="projecttemplate">
                    <div class="row">
                        <div class="col-sm-4">
                            <ul class="nav nav-tabs flex-column" id="navSections"></ul>
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" id="btnAddSection" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-plus"></i>
                                    Добавить раздел
                                </button>
                                <div class="dropdown-menu" aria-labelledby="btnAddSection" id="dropdownSecTypes">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="row">
                                <div class="col-sm-4">
                                    <label for="selectListComponents">Выберите тип компоненты:</label>
                                </div>
                                <div class="col-sm-7">
                                    <select class="form-control" id="selectListComponents"></select>
                                </div>
                                <div class="col-sm-1">
                                    <button type="button" class="btn btn-primary" id="btnAddComponent">Добавить</button>
                                </div>
                            </div>
                            <div class="tab-content" id="areaSections"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </div>
    </div>
</form>
</div>

<style>
    .component {
        border: 1px solid lightgrey;
        margin-top: 10px;
    }
    span {
        color: red;
    }
</style>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script type="text/javascript">
        var indComp = 0;        // счетчик для компонент
        var indSection = 0;
        var currentSection = 0; // текущий открытый раздел
        var ListDirections = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewData["ListDirections"]));
        var ListComponents = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewData["ListComponents"]));
        var ListSecTypes = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewData["ListSectionTypes"]));

        function selectSection(num) { // функция вызывается при выборе раздела из навигационного меню
            currentSection = num;
        }

        function loadListDirections(id) { // инициализирует список направленностей
            var str = '';
            ListDirections.forEach(function (item) {
                if (item.Id == id)
                    str += '<option class="form-control" selected value="' + item.Id + '">' + item.Name + '</option > ';
                else
                    str += '<option class="form-control" value="' + item.Id + '">' + item.Name + '</option > ';
            });
            return str;
        }

        function loadListComponents() { // инициализирует список типов компонент
            var str = '';
            ListComponents.forEach(function (item) {
                str += '<option class="form-control" value="' + item + '">' + item + '</option > ';
            });
            return str;
        }

        function loadListSecTypes() {
            var str = '';
            var i = 0;
            ListSecTypes.forEach(function (item) {
                str += '<button class="dropdown-item" type="button" id="btnAdd' + i + '" onclick="addSection(' + "'Новый раздел', '" + item + "'" + ')">' + item + '</button>';
                i++;
            });
            return str;
        }

        function addComponent() { // добавляет компоненту на форму
            var typeComp = $('#selectListComponents').val(); // тип компоненты
            var idComp = 'component' + indComp;         // идентификатор компоненты
            var idBtnDel = 'btnDeleteComp' + indComp;   // идентификатор кнопки удаления
            var str = '<div class="row component align-items-center justify-content-between" id="' + idComp + '">' +
                '<div class="col-sm-4">' +
                    '<input type="hidden" id="' + idComp + 'IsDelete" name="Components[' + indComp + '].IsDelete" value="false" />' +
                    '<input type="hidden" name="Components[' + indComp + '].Section" value="' + currentSection + '" />' +
                    '<input class="form-control" type="text" name="Components[' + indComp + '].Type" readonly value="' + typeComp + '"/>' +
                    '<input class="form-control" type="text" name="Components[' + indComp + '].Name" placeholder="Название компоненты" />' +
                '</div>' +
                '<div class="col-sm-4">' +
                    '<textarea class="form-control" type="text" name="Components[' + indComp + '].Description" placeholder="Назначение" />' +
                '</div>' +
                '<div class="col-sm-3">' +
                    '<input class="form-check-input" type="checkbox" id="' + idComp + 'IsNecessary" name="Components[' + indComp + '].IsNecessary" value="false"/>' +
                    '<label class="form-check-label" for="checkboxIsNecessary">Обязательно к заполнению</label>' +
                '</div>' +
                '<div class="col-sm-1">' +
                '<button class="btn btn-sm btn-danger" id="' + idBtnDel + '" type="button" title="Удалить">' +
                    '<i class="fas fa-trash"></i>' +
                '</button></div></div >';
            $('#areaSection' + currentSection).append(str); // добавляем компоненту на форму
            $('#' + idComp + 'IsNecessary').on('click', function () { setCheckboxIsNecessary(idComp); });
            $('#' + idBtnDel).on('click', function () { deleteComponent(idComp); });
            indComp++;
        }

        function deleteComponent(componentId) { // удалить компоненту
            $('#' + componentId + 'IsDelete').val('true');
            $('#' + componentId).hide();
        }

        function setCheckboxIsNecessary(idComp) { // установить значение в чекбокс
            if ($('#' + idComp + 'IsNecessary').val() == 'false')
                $('#' + idComp + 'IsNecessary').val('true');
            else
                $('#' + idComp + 'IsNecessary').val('false');
        }

        function addSection(name, type) { // загрузка разделов на форму
            var indSec = indSection;
            var navSectionId = 'navSection' + indSec;
            var areaSectionId = 'areaSection' + indSec;
            var btnDelId = 'btnDelete' + areaSectionId;
            var btnRenameId = 'btnRename' + areaSectionId;
            var elemNameId = 'elemName' + areaSectionId;
            var inpSectionNameId = 'inpSectName' + areaSectionId;
            var str = '<li class="nav-item form-inline" id="' + navSectionId + '">' +
                '<input type="hidden" id="' + navSectionId + 'IsDelete" name="Sections[' + indSec + '].IsDelete" value="false"/>' +
                '<input type="hidden" id="' + inpSectionNameId + '" name="Sections[' + indSec + '].Name" value="' + name + '"/>' +
                '<input type="hidden"  name="Sections[' + indSec + '].SectionType" value="' + type + '"/>' +
                '<a class="nav-link" data-toggle="tab" href="#' + areaSectionId + '" title="' + type + '" >' +
                    '<label id="' + elemNameId + 'Lbl">'+ name + '</label>'  +
                    '<input id="' + elemNameId + 'Inpt" type="text" style="display: none" value="' + name + '"/>' + 
                '</a>' + 
                '<button class="btn btn-sm btn-outline-secondary" id="' + btnRenameId + '" type="button" title="Переименовать">' +
                    '<i class="fas fa-edit"></i>' +
                '</button >';
            if (indSec != 0) // нельзя удалить раздел итоговых результатов
            {
                str += '<button class="btn btn-sm btn-outline-secondary" id="' + btnDelId + '" type="button" title="Удалить">' +
                    '<i class="fas fa-times"></i>' +
                    '</button ></li>';
                $('#navSections').append(str); // загрузить раздел в меню
                $('#' + btnDelId).on('click', function () { deleteSection(indSec); });
            } else { // если это раздел итоговых результатов, то кнопки "удалить" не будет
                str += '</li>';
                $('#navSections').append(str); // загрузить раздел в меню
            }
            $('#' + navSectionId).on('click', function () { selectSection(indSec); });
            $('#' + btnRenameId).on('click', function () { btnRenameSection(elemNameId, inpSectionNameId); });

            var str2 = '';
            if (indSec == 0) str2 = '<div class="tab-pane fade active show" id="' + areaSectionId + '"></div>';
            else str2 = '<div class="tab-pane fade" id="' + areaSectionId + '"></div>';
            $('#areaSections').append(str2); // загрузить раздел на форму
            indSection++;
        }

        function focusoutRenameSection(elemNameId, inpSectionNameId) {
            var name = $('#' + elemNameId + 'Inpt').val();
            $('#' + elemNameId + 'Inpt').val(name);
            $('#' + elemNameId + 'Inpt').attr('style', 'display: none');
            $('#' + elemNameId + 'Lbl').text(name);
            $('#' + elemNameId + 'Lbl').attr('style', 'display: inline');
            $('#' + inpSectionNameId).val(name);
        }

        function btnRenameSection(elemNameId, inpSectionNameId) { // кнопка "Переименовать раздел"
            $('#' + elemNameId + 'Lbl').attr('style', 'display: none'); // скрыть нередактируемую метку
            $('#' + elemNameId + 'Inpt').attr('style', 'display: inline'); // открыть редактируемое поле
            $('#' + elemNameId + 'Inpt').focus();
            $('#' + elemNameId + 'Inpt').focusout(function () { focusoutRenameSection(elemNameId, inpSectionNameId); });
        }

        function deleteSection(ind) {
            $('#navSection' + ind).hide();
            $('#areaSection' + ind).hide();
            $('#navSection' + ind + 'IsDelete').val(true);
        }

        (function () {
            $('#DirectionId').append(loadListDirections(@Model.DirectionId));
            $('#selectListComponents').append(loadListComponents());
            $('#dropdownSecTypes').append(loadListSecTypes());
            // загружаем раздел итоговых результатов на форму
            addSection('Раздел итоговых результатов', 'Раздел итоговых результатов');
            $('#btnAddComponent').on('click', function () { addComponent(); });
        })();
    </script>
}
