@{
    ViewData["Title"] = "Идеи";
    @model IEnumerable<IdeaViewModel>
}

@using (Html.BeginForm("Edit", "Idea", FormMethod.Get))
{
    <button class="btn btn-primary" type="submit">
        <i class="fas fa-plus"></i>
        Новая идея
    </button>
}

<ul class="ideas clearfix">
    @foreach (var x in Model)
    {
        <li class="idea-wrapper">
            <div class="idea">
                <h2>Название - @x.Name</h2>
                <div class="idea-photo">
                    <img src="~/imgs/idea_image.jpg" alt="">
                    <button class="btn btn-primary idea-btn-preview">
                        Просмотр идеи
                    </button>
                </div>
                <h3>Направленность - @x.Direction</h3>
                <h3>Автор - @x.Author</h3>
                <h3>Учебное заведение</h3>
                <button class="btn btn-primary idea-btn-public">
                    Опубликовать идею
                </button>   
            </div>
        </li>
    }
</ul>


<style>
    .idea-wrapper {
        display: block;
        width: 100%;
        float: left;
        transition: width .2s;
    }

    @@media only screen and (min-width: 450px) {
        .idea-wrapper {
            width: 50%;
        }
    }

    @@media only screen and (min-width: 768px) {
        .idea-wrapper {
            width: 33.333%;
        }
    }

    @@media only screen and (min-width: 1000px) {
        .idea-wrapper {
            width: 25%;
        }
    }

    .idea {
        display: block;
        border: 1px solid royalblue;
        border-radius: 3px;
        position: relative;
        background-color: rgba(194, 223, 255, 0.81);
        margin: 0 20px 20px 0;
        text-decoration: none;
        z-index: 0;
    }

    .ideas {
        list-style: none;
        margin: 0 -20px 0 0;
        padding: 0;
    }

    .idea-photo {
        position: relative;
        padding-bottom: 100%;
        overflow: hidden;
    }

        .idea-photo img {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            max-width: 100%;
            max-height: 100%;
            margin: auto;
            transition: transform .4s ease-out;
        }

    .idea:hover .idea-photo img {
        transform: scale(1.05);
    }

    .idea h2 {
        font-size: 18px;
        text-align: center;
        color: royalblue;
        font-weight: bold;
        margin-top: 10px;
    }

    .idea h3 {
        text-align: center;
        font-size: 16px;
        color: darkblue;
    }

    .idea-btn-preview {
	    transform: translate(45%, 500%);
	    opacity: 0;
    }

    .idea:hover .idea-btn-preview {
        opacity: 1;
    }
    
    .idea-btn-public{
        transform: translate(25%, 0);
        margin-bottom: 10px;
    }

</style>

