
@{
    ViewData["Title"] = "Review";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @model ResolutionViewModel
}

@Html.Partial("Browse", ViewData["idea"])

<hr />

<div class="background-review" style="background-color: rgba(255, 213, 194, 0.67);">
    <form method="post" asp-action="Review" asp-controller="Idea">
        <input asp-for="IdeaId" />
        <div class="row">
            <div class="col-2">

            </div>
            <div class="col-10">
                <div class="row">
                    <div class="col-3">
                        <label asp-for="Decision"></label>
                    </div>
                    <div class="col-7">
                        <select asp-for="Decision" class="form-control">
                            <option value="1">@ExpertDecisionsNames.Approve</option>
                            <option value="0">@ExpertDecisionsNames.Revision</option>
                            <option value="-1">@ExpertDecisionsNames.Reject</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <label asp-for="Comment"></label>
                    </div>
                    <div class="col-7">
                        <textarea asp-for="Comment" class="form-control"></textarea>
                    </div>
                    <div class="col-2">
                        <span asp-validation-for="Comment"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <label asp-for="ValueDegree"></label>
                    </div>
                    <div class="col-7">
                        <input type="number" asp-for="ValueDegree" class="form-control" value="1" />
                    </div>
                    <div class="col-2">
                        <span asp-validation-for="ValueDegree"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8"></div>
                    <div class="col">
                        <button class="btn btn-primary" type="submit">Отправить</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script type="text/javascript">

        function changeDecision() {
            if ($('#Decision').val() == 1)
                $('#ValueDegree').attr('readonly', false);
            else {
                $('#ValueDegree').val(1);
                $('#ValueDegree').attr('readonly', true);
            }
        }

        (function () {
            changeDecision();
            $('#Decision').on('change', function () { changeDecision() });
        })();

    </script>
}


