
@{
    ViewData["Title"] = "Справка";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="background" style="width: 85%; position:relative; left: 8%;">
        <h2 style="text-align:center">Справка по работе в системе</h2>
        <p>
            <i>Данная система предназначена для <b>ведения проектно-исследовательской деятельности</b> пользователями Портала.</i>
        </p>
        <p>
            Пользователями Портала являются:
            <ul>
                <li> обучающиеся различных образовательных учреждений; </li>
                <li> их родители; </li>
                <li> преподаватели. </li>
            </ul>
        </p>
        <p>
            В системе предусмотрено несколько ролей пользователей:
            <ul>
                <li> участник сообщества; </li>
                <li> Эксперт; </li>
                <li> Администратор. </li>
            </ul>
        </p>
        <p>
            Участник сообщества может выполнять основную деятельность на Портале – оформлять Идеи,
            публиковать Проекты, участвовать в проектах, публиковать исследовательские данные и так далее.
        </p>
        <p>
            При регистрации на Портале система автоматически назначает каждому пользователю роль <b>Участника сообщества</b>.
        </p>
        <p>
            Эксперты имеют возможность оценивать Идеи. Назначить роль Эксперта участнику сообщества может только
            Администратор системы.
        </p>
        <p>
            Для того чтобы опубликовать Идею, необходимо авторизоваться на Портале и перейти в раздел "Каталог Идей". 
            Далее нажать на кнопку "Новая идея" и заполнить данные об Идеи.
        </p>
        <p>
            Созданные идеи отправляются в личный кабинет пользователя в раздел "Мои идеи - Черновики". 
            Новой идее присваивается статус "Черновик". Система предполагает наличие следующих статусов Идей – "Черновик", 
            "На модерации", "Утверждена", "Отклонена".
        </p>
        <p>
            Для того чтобы утвердить идею, необходимо в разделе "Черновики" нажать на кнопку "Отправить на модерацию" в 
            рамках выбранной идеи. Идея будет перемещена в раздел "Мои идеи - На модерации" в личном кабинете пользователя.
        </p>
        <p>
            Система назначает на проверку идей Экспертов, либо Администратора в зависимости от типа Идеи.
        </p>
        <p>
            Система предполагает наличие следующих типов идей: 
            <ul>
                <li><img src="~/imgs/openIdea.png" style="width:100px; height: 50px;" /></li>
                <li><img src="~/imgs/privateIdea.png" style="width:100px; height: 50px;" /></li>
            </ul>
        </p>
        <p>
            <b>Открытая</b> идея доступна для просмотра и публикации проекта всем пользователям в "Каталоге Идей". 
            <b>Приватная</b> идея доступна для просмотра и публикации проекта только автору Идеи. 
            Данные идеи располагаются в личном кабинете пользователя.
        </p>
        <p>
            После того как Идея была оценена, она будет перемещена либо в раздел утвержденных идей, если эксперты 
            утвердили идею, либо в "Черновики" - если Идею отправили на доработку, либо в раздел "Отклоненные" - 
            если Идею отклонили.
        </p>
        <p>
            На основе Идеи в системе создается проект. Проект может быть опубликован только на основе утвержденной идеи. 
            Проект также может иметь различные типы доступа:
            <ul>
                <li><img src="~/imgs/openProject.png" style="width:100px; height: 50px;"/></li>
                <li><img src="~/imgs/closeProject.png" style="width:100px; height: 50px;"/></li>
                <li><img src="~/imgs/privateProject.png" style="width:100px; height: 50px;"/> </li>
            </ul>
        </p>
        <p>
            На основе открытой идеи можно создать проект любого типа. На основе приватной идеи - только приватный проект.
        </p>
        <p>
            <b>Открытый</b> проект доступен для просмотра и участия всем пользователям. <b>Закрытый</b> проект доступен для просмотра 
            всем, но участие только при добавлении руководителем. <b>Приватный</b> проект доступен для просмотра только участникам 
            проекта. Участие также при добавлении руководителем.
        </p>
        <p>
            Для того чтобы создать Проект необходимо перейти в каталог Идей и выбрать идею, на основе которой необходимо 
            опубликовать проект.
        </p>
        <p>
            В личном кабинете пользователя в разделе «Мои проекты – Управление» располагаются рабочие проекты, в которых 
            пользователь является Руководителем. В разделе «Мои проекты – Участие» располагаются рабочие проекты, в 
            которых пользователь участвует, включая проекты, в которых является руководителем. В разделе «Завершенные» 
            располагаются завершенные проекты, в которых пользователь либо участвовал, либо руководил. В разделе «Отмененные» 
            располагаются отмененные проекты, в которых пользователь либо участвовал, либо руководил.
        </p>
        <p>
            Пользователь может оставить исследовательские данные только в те проектах, в которых он является участником. 
            Для этого необходимо перейти на страницу проекта и перейти в любой раздел. Далее нажать на кнопку «Загрузить ответ».
        </p>
        <p>
            Руководитель проекта также имеет возможность завершать проект, отменять проект и изменять тип проекта в разделе 
            «Управление проектом» на странице проекта.
        </p>
    </div>

    <style>
        p {
            text-indent: 30px;
        }
    </style>
